################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sergant_Stubbys_Seriously_Smooth_Stint
